.skillsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skillsSection h3{
    margin-bottom: 0.5rem;
}

.skillsSection p{
    margin-bottom: 0.5rem;
}

@media screen and (max-width:786px) {
    .skillsSection{
        flex-direction: column;
        gap: 4rem;
    }

    .main{
        gap: 1rem;
    }
}

@media screen and (min-width:786px) and (max-width:1024px){

    .skillsSection{
        flex-direction: column;
    }

}

@media screen and (min-width:786px) and (max-width:1200px){
    .skillsSection{
        gap: 4rem;
    }
}