.hero{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 5rem;
}


.hero h1{
    max-width: 900px;
}

.hero p{
    max-width: 650px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width:786px) and (max-width:1200px){

    .hero{
        padding: 3rem;
    }
    .hero h1{
        max-width: 600px;
    }

    .hero p{
        max-width: 450px;
    }
}

@media screen and (max-width:786px){

    .hero{
        padding: 0;
    }
    .hero h1{
        max-width: 450px;
    }

    .hero p{
        max-width: 400px;
    }
}