.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: 800px;
    margin: 0.5rem;
    background-color: var(--secondary);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    -moz-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
}

.hero h2{
    font-weight: 600;
    font-size: 2em;
    color: var(--accentTwo);
}

.hero h1{
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: var(--accentTwo);
}

.hero p{
    max-width: 700px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--accentTwo);
}

.hero button{
    background-color: var(--accent);
    color: var(--accentTwo);
}

@media screen and (max-width:786px) {

    .hero{
        height: 500px;
    }

    .hero h1{
        font-size: 1.2em;
        margin-bottom: 0.5rem;
    }

    .hero h2{
        font-size: 1.2em;
    }

    .hero p{
        max-width: 400px;
    }
}

@media screen and (min-width:786px) and (max-width:1200px){

    .hero{
        height: 650px;
    }
    
    .hero h1{
        font-size: 2em;
        margin-bottom: 0.5rem;
    }

    .hero h2{
        font-size: 1.5em;
    }

    .hero p{
        max-width: 550px;
    }

}