.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem 0 2rem;
    width: 100%;
}

.introductionText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:last baseline;
    width: 100%;
    max-width: 1200px;
}

.introductionText h1{
    max-width: 808px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

@media screen and (min-width:786px) and (max-width:1200px){
    .introduction{
        padding: 10rem 2rem 0 2rem;
    }

    .introductionText{
        align-items: flex-start;
    }
}

@media screen and (max-width:786px){

    .introduction{
        padding: 7rem 1.5rem 0 1.5rem ;
    }

    .introductionText{
        align-items: flex-start;
    }

    .introductionText h1{
        max-width: 550px;
    }
    
}