.aboutSection{
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    border-radius: 20px;
    margin: 0.5rem;
    background-color: var(--secondary);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    -moz-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    color: var(--accentTwo);
    padding: 10rem 2rem;
}

.aboutImage img{
    width: 100%;
    height: 100%;
    max-width: 345px;
    max-height: 477px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    object-fit: cover;
}

.aboutText{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutCTA{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.aboutCTA button{
    width: 150px;
    background-color: var(--accent);
    color: var(--accentTwo);
}

@media screen and (max-width:786px) {
    .aboutSection{
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 2rem;
    }

    .aboutText{
        gap: 0.5rem;
    }
}

@media screen and (min-width:786px) and (max-width:1024px){

    .aboutSection{
        flex-direction: column;
    }

}

@media screen and (min-width:786px) and (max-width:1200px) {

    .aboutSection{
        gap: 2rem;
        padding: 8rem 2rem;
    }
}