.btn{
    width: 182px;
}

.buttonOne{
    font-size: 1.2em;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: var(--secondary);
    cursor: pointer;
    margin-top: 2rem;
}

.buttonOne img{
    width: 50px;
    height: 10px;
    margin-left: 15px;
}

@media screen and (max-width:786px){
    .button img{
        height: 10px;
        width: 40px;
    }
}