.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 00.5rem;
    border-radius: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0.5rem 1rem;
}

.logo img{
    max-width: 35px;
    max-height: 35px;
}

.navDekstop{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


.navMobile{
    display: none;
}

.menu{
    display: none;
    flex-direction: column;
    gap: 7px;
}

.menu span{
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: black;
}

@media screen and (max-width:786px) {
    .navDekstop{
        display: none;
    }

    .menu{
        display: flex;
    }
}