.projects{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

.cardProjects{
    max-width:560px;
}

.cardProjects > img{
    width: 100%;
    height: 100%;
}

.cardProjects > h2{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.cardProjects > p{
    margin-bottom: 1.5rem;
}

@media screen and (min-width:786px) and (max-width:1200px){
    .projects{
        gap: 2.5rem;
    }
}

@media screen and (max-width:786px) {
    .projects{
        margin-top: 1.5rem;
        flex-direction: column;
        gap: 3rem;
    }

    .cardProjects{
        width: 100%;
        max-width: none;
    }

    .cardProjects > h2{
        margin-top: 1rem;
    }

    .cardProjects > p{
        margin-bottom: 1rem;
    }
}