:root {
    --primary:#1B262C;
    --secondary:#0F4C75;
    --accent:#3282B8;
    --accentTwo: #BBE1FA;
    --white: #ffffff;
    --black: #000000;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 300vh;
    position: relative;
    background-color: var(--primary);
}


header{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

h3{
    font-size: 1.7em;
    font-weight: 600;
}

h4{
    font-size: 1.2em;
    font-weight: 500;
}

p{
    font-size: 1em;
    font-weight: 400;
}


a{
    color: inherit;
    text-decoration: none;
}

button{
    font-size: 0.9em;
    padding: 0.7rem 1.4rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


@media screen and (max-width:786px) {


    a{
        font-size: 0.8em;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.6em;
    }

    h3{
        font-size: 1.2em;
    }

    h4{
        font-size: 0.9em;
    }

    p{
        font-size: 0.8em;
        line-height: 2;
    }

    button{
        font-size: 0.7em;
    }
}

@media screen and (min-width:786px) and (max-width:1200px){



    a{
        font-size: 0.9em;
    }

    h1{
        font-size: 2.5em;
    }

    h2{
        font-size: 1.8em;
    }

    h3{
        font-size: 1.4em;
    }

    h4{
        font-size: 1.1em;
    }

    p{
        font-size: 0.9em;
    }

    button{
        font-size: 0.8em;
    }
}
