*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 300vh;
    position: relative;
}


header{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
}


a{
    color: inherit;
    text-decoration: none;
}

button{
    font-size: 1em;
}

@media screen and (max-width:786px) {

    a{
        font-size: 0.8em;
    }

    p{
        font-size: 0.8em;
        line-height: 2;
    }

    button{
        font-size: 0.8em;
    }
}

@media screen and (min-width:786px) and (max-width:1200px){
    a{
        font-size: 0.9em;
    }
    p{
        font-size: 0.9em;
    }

    button{
        font-size: 0.9em;
    }
}
