.ctaAbout{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    align-items: flex-end;
    text-align: right;
}

.ctaAbout h1, .ctaAbout p{
    max-width: 800px;
}

.ctaWork{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    max-width: 830px;
    padding: 4rem 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

.ctaWork button{
    max-width: fit-content;
    background-color: var(--white);
    color: var(--black);
}



@media screen and (min-width:786px) and (max-width:1200px){
    .ctaWork{
        max-width: 670px;
    }
}



@media screen and (max-width:786px) {
    .ctaAbout{
        align-items: flex-start;
        text-align: left;
    }

    .workSection{
        padding-top: 2rem;
    }
}