.serviceSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem 0 2rem;
}

.section{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.serviceText{
    width: 100%;
    max-width: 600px;
}

.serviceText p{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.serviceText ul{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.serviceCTA{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.serviceCTA h1{
    max-width: 600px;
    text-align: right;
}

.serviceCTA p{
    max-width: 550px;
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.serviceCTA button{
    direction: rtl;
}

.serviceCTA button img{
    transform: rotate(180deg);
}

@media screen and (min-width:786px) and (max-width:1200px){

    .section{
        gap: 7rem;
    }

    .serviceSection{
        padding: 10rem 2rem 0 2rem;
    }

    .serviceCTA{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .serviceCTA h1, .serviceCTA p{
        text-align: left;
    }

    .serviceCTA button{
        direction: ltr;
    }
    
    .serviceCTA button img{
        transform: rotate(0);
    }
}

@media screen and (max-width:786px) {

    .section{
        gap: 7rem;
    }

    .serviceSection{
        padding: 7rem 1.5rem 0 1.5rem;
    }

    .serviceCTA{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .serviceCTA h1, .serviceCTA p{
        text-align: left;
    }

    .serviceCTA button{
        direction: ltr;
    }
    
    .serviceCTA button img{
        transform: rotate(0);
    }
    
}

