.section{
    padding-bottom: 0;
}


.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    position: relative;
    z-index: 10;
}

.faq > p {
    max-width: 650px;
    text-align: center;
    margin-top: 1rem;
}

.faq > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    border-radius: 5px;
}

.card > p:nth-of-type(1) {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    max-height: 5rem;
    padding: 0;
    color: var(--white);
}

.card p:nth-of-type(1)::after {
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1.5em;
    transition: transform 0.3s ease-in-out;
}

/* Awalnya p tidak terlihat */
.card p:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

/* Saat aktif */
.card.active {
    max-height: 30rem;
    padding-bottom: 1rem;
}

.card.active h4::after {
    transform: rotate(270deg);
}

.card.active p {
    opacity: 1;
    visibility: visible;
    max-height: 25rem;
}

@media screen and (min-width: 786px) and (max-width: 1200px) {
    .card {
        max-width: 700px;
    }

   
}

@media screen and (max-width: 786px){
    
}