.contactSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 20rem 1.5rem;
    background-color: var(--secondary);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    -moz-box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    box-shadow: 6px 8px 33px 3px rgba(233,227,213,0.77);
    color: var(--accentTwo);
}