.contactSection{
    padding: 10rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.contactSection > div:nth-of-type(1){
    text-align: center;
}

.contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.contactInfo{
    width: 100%;
    max-width: 500px;
    padding: 3rem 0;
    color: var(--black);
    border-radius: 5px;
}

.contactInfo p{
    margin-bottom: 1rem;
    margin-top: 0.1rem;
}

.contactInfo p:nth-of-type(1){
    margin-bottom: 5rem;
}

.contactForm{
    width: 100%;
    padding: 3rem 0 3rem 3rem;
}

.contactForm div{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 2rem;
}

.contactForm div input{
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 0.5rem 1rem 0.5rem 0;
    cursor: pointer;
    font-family: 'poppins';
}

.contactForm div textarea{
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 0.5rem 1rem 0.5rem 0;
    cursor: pointer;
    height: 8rem;
    font-family: 'poppins';
}

.contactForm div input:focus,.contactForm div textarea:focus {
    outline: none;
}

.contactForm button{
    margin-top: 2rem;
}

@media screen and (min-width:786px) and (max-width:1200px){
    .contactSection{
        padding: 10rem 0 0 0;
        gap: 2rem;
    }

    .contactInfo{
        padding: 2rem;
    }

    .contactForm{
        padding: 2rem;
    }
}

@media screen and (max-width:786px) {
    .contactSection{
        padding: 7rem 0 0 0;
        gap: 1rem;
    }

    .contactInfo{
        max-width: none;
        border-radius: 0;
        padding: 1.5rem;
    }

    .contactInfo p:nth-of-type(1){
        margin-bottom: 2rem;
    }

    .contact{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .contactForm{
        padding: 1.5rem;
    }
}